.cassete {
  position: absolute;
  z-index: 4;
  transition: all 1s;
  transform: rotateZ(90deg);
}

.cassete-play {
  animation: cassete-to-desk 3s ease-in-out forwards;
}

@keyframes cassete-to-desk {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(90deg);
  }
  50% {
    transform: translate3d(239px, -200px, 0) rotateZ(45deg);
  }
  70% {
    transform: translate3d(468px, -100px, 0) rotateZ(0deg);
  }
  80% {
    transform: translate3d(468px, -100px, 0) rotateZ(-360deg);
  }
  100% {
    transform: translate3d(468px, 25px, 0) rotateZ(-360deg);
  }
}
