.cassete {
  position: absolute;
  z-index: 4;
  transition: all 1s;
}

.cassete-play {
  animation: cassete-to-desk 3s ease-in-out forwards;
}

@keyframes cassete-to-desk {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(239px, -200px, 0);
  }
  70% {
    transform: translate3d(434px, -100px, 0);
  }
  80% {
    transform: translate3d(434px, -100px, 0) rotateZ(720deg);
  }
  100% {
    transform: translate3d(434px, 52px, 0) rotateZ(720deg);
  }
}
