@keyframes blinking-neon {
  0% {
    color: var(--neon-off);
    text-shadow: var(--neon-off-glow);
    border-top-color: black;
    border-bottom-color: black;
  }
  30% {
    color: var(--neon-blue);
    text-shadow: var(--neon-blue-glow);
    border-top-color: var(--neon-purple);
    border-bottom-color: var(--neon-purple);
  }
  95% {
    color: var(--neon-blue);
    text-shadow: var(--neon-blue-glow);
    border-top-color: var(--neon-purple);
    border-bottom-color: var(--neon-purple);
  }
  96% {
    color: var(--neon-off);
    text-shadow: var(--neon-off-glow);
    border-top-color: black;
    border-bottom-color: black;
  }
  97% {
    color: var(--neon-blue);
    text-shadow: var(--neon-blue-glow);
    border-top-color: var(--neon-purple);
    border-bottom-color: var(--neon-purple);
  }
  98% {
    color: var(--neon-off);
    text-shadow: var(--neon-off-glow);
    border-top-color: black;
    border-bottom-color: black;
  }
  99% {
    color: var(--neon-blue);
    text-shadow: var(--neon-blue-glow);
    border-top-color: var(--neon-purple);
    border-bottom-color: var(--neon-purple);
  }
  100% {
    color: var(--neon-off);
    text-shadow: var(--neon-off-glow);
    border-top-color: black;
    border-bottom-color: black;
  }
}

@keyframes slide-left {
  0% {
    transform: translate3d(calc(100vw + 100px), 10px, 0);
  }
  50% {
    transform: translate3d(50vw, -30px, 0);
  }
  100% {
    transform: translate3d(-100px, 10px, 0);
  }
}

.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3e3e3e;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 60px;
  text-align: center;
  margin: 0;
  font-family: "Zen Tokyo Zoo", cursive;
  font-weight: 400;
  letter-spacing: 3px;
  animation: blinking-neon ease-in-out 7s infinite alternate-reverse;
  padding: 20px 0;
  border-top: solid 4px black;
  border-bottom: solid 4px black;
}

.section {
  display: flex;
  width: 70vw;
  height: 60vh;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.micContainer {
  width: 380px;
  height: 250px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  background: #3e3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.moon {
  position: absolute;
  bottom: 0;
  width: 120%;
  height: 20vh;
  background: #b0b0b0;
  border-radius: 50% 50% 0% 0% / 88% 88% 0% 0%;
}

.crater1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5e5e5e5e;
  bottom: 0px;
  left: -50px;
  animation: slide-left 10s linear infinite forwards 5s;
}

.crater2 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5e5e5e5e;
  bottom: 10px;
  left: -50px;
  animation: slide-left 10s linear infinite forwards 3s;
}

.crater3 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5e5e5e5e;
  bottom: 30px;
  left: -50px;
  animation: slide-left 10s linear infinite forwards;
}
